body {
    background-color: #3d4c44;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
}

input {
    width: 100%;
    color: #fff;
    padding: 3px;
    border: 1px solid #000;
    background-color: #3d4c44;
}

#inlineEditing {
    color: #fff;
    cursor: pointer;
}

footer {
    margin-top: 50px;
    color: #fff;
}